
<main class="container">
  <nav>
    <ul>
      <li><strong>Bibliotech</strong></li>
    </ul>
    <ul>
      <li><a [routerLink]="['/']" >Home</a></li>
      <li *ngIf="isAdmin"><a [routerLink]="['/admin']" role="button">Admin</a></li>
      <li *ngIf="isAuth"><a [routerLink]="['/profil']" role="button">Mon profil</a></li>
      <li *ngIf="isAuth" (click)="disconnect()"><a>❌</a></li>
      <li *ngIf="!isAuth"><a [routerLink]="['/login']" role="button" >Connexion</a></li>

    </ul>
  </nav>
  <router-outlet></router-outlet>
  <ng-toast></ng-toast>
</main>